<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <h1>Add new Restaurant</h1>
    <form action="/restaurants/new" method="post">
      Name:<br />
      <input type="text" name="name" value="" />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
