<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Restaurants</h1>
    {% if restaurants|length > 0 %}
    <ul>
        {% for restaurant in restaurants %}
        <li>
            <a href="/restaurants/{{restaurant.id}}"><h3>{{restaurant.name}}</h></a>
                <a href="/restaurants/{{restaurant.id}}/edit">[Edit]</a>
                <a href="/restaurants/{{restaurant.id}}/delete">[Delete]</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>No restaurants available.</h3>
    {% endif %}
    <a href="/restaurants/new">Add new restaurant</a>
</body>

</html>